{% extends "base_template.html" %}
{% block title %}Registro de usuarios{% endblock %}
{% block content %}
    <form action="" method="post">
        <label for="Orden">Orden: {{data[1]}} </label>
        <input type="text" id="Orden" name="Orden" required  /><br>
        <label for="Dependencia">Dependencia: {{data[2]}} </label>
        <input type="text" id="Dependencia"  name="Dependencia" /><br>
        <label for="Atencion">Atencion: {{data[3]}}</label>
        <input type="text" id="Atencion"  name="Atencion" /><br>
        <label for="Recibio_del_cer">Recibio del cer: {{data[4]}}</label>
        <input type="text" id="Recibio_del_cer"  name="Recibio_del_cer" /><br>
        <label for="Entrego_al_cer">Entrego al cer: {{data[5]}}</label>
        <input type="text" id="Entrego_al_cer"  name="Entrego_al_cer" /><br>
        <label for="Folio">Folio: {{data[6]}}</label>
        <input type="text" id="Folio"  name="Folio" /><br>
        <label for="Entrada">Entrada: {{data[7]}}</label>
        <input type="text" id="Entrada"  name="Entrada" /><br>
        <label for="Equipo">Equipo: {{data[8]}}</label>
        <input type="text" id="Equipo"  name="Equipo" /><br>
        <label for="Marca">Marca: {{data[9]}}</label>
        <input type="text" id="Marca"  name="Marca" /><br>
        <label for="Modelo">Modelo: {{data[10]}}</label>
        <input type="text" id="Modelo"  name="Modelo" /><br>
        <label for="Serie">Serie: {{data[11]}}</label>
        <input type="text" id="Serie"  name="Serie" /><br>
        <label for="Unidad">Unidad: {{data[12]}}</label>
        <input type="text" id="Unidad"  name="Unidad" /><br>
        <label for="Delegacion">Delegacion: {{data[13]}}</label>
        <input type="text" id="Delegacion"  name="Delegacion" /><br>
        <label for="Accesorio">Accesorio: {{data[14]}}</label>
        <input type="text" id="Accesorio"  name="Accesorio" /><br>
        <label for="Falla">Falla: {{data[15]}}</label>
        <input type="text" id="Falla"  name="Falla" /><br>
        <label for="Ticket">Ticket: {{data[16]}}</label>
        <input type="text" id="Ticket"  name="Ticket" /><br>
        <label for="Status">Status: {{data[17]}}</label>
        <input type="text" id="Status"  name="Status" /><br>
        <label for="Reparacion">Reparacion: {{data[18]}}</label>
        <input type="text" id="Reparacion"  name="Reparacion" /><br>
        <label for="Salida">Salida: {{data[19]}}</label>
        <input type="text" id="Salida"  name="Salida" /><br>
        <label for="Reparo">Reparo: {{data[20]}}</label>
        <input type="text" id="Reparo"  name="Reparo" /><br>
        <label for="Servicio">Servicio: {{data[21]}}</label>
        <input type="text" id="Servicio"  name="Servicio" /><br>
        <label for="Reporte">Reporte: {{data[22]}}</label>
        <input type="text" id="Reporte"  name="Reporte" /><br>
        
        <input type="submit" id="send-signup" name="signup" value="Registrar" />
    </form>
{% endblock %}
